.instructions-container{
    padding: 3rem 5rem;
}

.instruction-line{
    padding-top: 2rem;
    text-align: center;
    text-decoration: var(--primary-color) underline;
}

.instruction-btn-container{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
}

.instruction-btn{
    background-color: var(--secondary-hover);
    padding: 1rem 3rem;
}